<div class='land-pad'>
  <div class='row justify-content-center d-flex'>
    <div class='col-10' align='center'>
      <%= image_tag("logo_copy.png", class:'land-logo') %>
      <h5 class='land-tag-line'>Dont throw it out, trade it for something bigger or better.</h5>
    </div>
  </div>
</div>
<br>
<div>
  <div class='row justify-content-center d-flex'>
    <div class="white-btn">
      <div class="get-started mx-auto d-block">
        <%= link_to items_path do %>
          GET STARTED
        <% end %>
      </div>
    </div>
  </div>
</div>
<br>
<div class='container'>
  <div class='row justify-content-center d-flex'>
    <div class='col-10' align='center'>
      <p class='land-text'>
        Do you have something that you don't want anymore? Don't throw it out! Instead, trade it for something else with a neighbor or with someone across town. A game that started door to door with a paper clip and ended with a global fascination is now available in the palm of your hand. Simply take a photo of your item and you're ready to start swiping and tapping and easily trade your unwanted item for something Bigger or Better! </p>
      <div class='container-sizechart'>
        <div class='land-card'><%= image_tag("l1.png", class:'land-imgs') %></div>
        <div class='land-card'><%= image_tag("l3.png", class:'land-imgs') %></div>
        <div class='land-card'><%= image_tag("l2.png", class:'land-imgs') %></div>
        <div class='land-card'><%= image_tag("l4.png", class:'land-imgs') %></div>
      </div>
      <div class='container-sizechart-s'>
        <div class='land-card'><%= image_tag("l5.png", class:'land-imgs') %></div>
      </div>
    </div>
  </div>
</div>
</div>
