<div class='land-pad'>
  <div class='row justify-content-center d-flex'>
    <div class='col-10' align='center'>
      <%= image_tag("logo_copy.png", class:'land-logo') %>
      <h5 class='land-tag-line'>Dont throw it out, trade it for something bigger or better.</h5>
    </div>
  </div>
</div>
<br>
<div>
  <div class='row justify-content-center d-flex'>
    <div class='col-10' id="fuckin-btn">
      <div class="get-started mx-auto d-block">
        <%= link_to items_path do %>
          GET STARTED
        <% end %>
        <%# <a href="/users/sign_in" class="get-started mx-auto d-block">GET STARTED</a> %>
      </div>
    </div>
  </div>
</div>
<br>
<div class='container'>
  <div class='row justify-content-center d-flex'>
    <div class='col-10' align='center'>
      <p class='land-text'>BIGGER OR BETTER?</p>
        <p class='land-text'>A game that started with a paper clip and ended with global fasination and game play. Bigger Or Better is now avaiable to users in the comfort of their very own homes. No more door to door knocking. etc</p> </p>
        <br>
      <div class='container-sizechart'>
       <div class='land-card'><%= image_tag("l1.png", class:'land-imgs') %></div>
        <div class='land-card'><%= image_tag("l3.png", class:'land-imgs') %></div>
         <div class='land-card'><%= image_tag("l2.png", class:'land-imgs') %></div>
          <div class='land-card'><%= image_tag("l4.png", class:'land-imgs') %></div>
      </div>
        <div class='container-sizechart-s'>
             <div class='land-card'><%= image_tag("l5.png", class:'land-imgs') %></div>
        </div>
      </div>
    </div>
  </div>
</div>

