

<div class="container">
  <br>
  <h2 class="text-center">Container</h2>
  <%= link_to "Back to landing page", root_path %>
  <p>This is the first container. </p>
  <div>
    <h2> Avatars</h2>
    <%=image_tag("Jazz.jpg", :class => "avatar-35")%>
    <%=image_tag("Jazz.jpg", :class => "avatar-55")%>
    <%=image_tag("Jazz.jpg", :class => "avatar-100")%>
    <%=image_tag("Jazz.jpg", :class => "avatar-120")%>

    <h2> Circle Images</h2>
    <%=image_tag("Chair1.jpg", :class => "avatar-65-image")%>
    <%=image_tag("fork.jpg", :class => "avatar-100-image")%>
    <%=image_tag("add_photo.jpg", :class => "avatar-120-image")%>
    <%=image_tag("Chair1.jpg", :class => "avatar-150-image")%>

    <h2>Buttons</h2>
    <a href="#" class="button sm-btn">Small Button</a>
    <a href="#" class="button lg-btn">Large Button</a>
    <a href="#" class="outline-btn">Add Photos</a>
    <a href="#" class="game-btn">SKIP</a>

    <h2>Game Cards</h2>
    <div class="game-card">
      <%=image_tag("Chair1.jpg")  %>
    </div>
    <br>
    <br>

  </div>
</div>

