
<%= link_to "Back to landing page", root_path %>

<div class='row justify-content-center d-flex'>

</div>
</div>
<div class='container'>
    <div class='row justify-content-center d-flex'>
      <div class='col-10' align='center'>
          <%=image_tag("Jazz.jpg", :class => "avatar-120")%>
            <h5><b>Hello <%=current_user.name%>!</b></h5>
            <ul>
            <span class="material-icons" id="stars">
              <li>grade</li>
              <li>grade</li>
              <li>grade</li>
              <li>grade</li>
              <li>star_outline</li>
            </span>
             </ul>
            <p><%=current_user.address%></p>


          <% unless current_user.items %>
          <p class="size-18">Add your first item</p>
          <% end %>
          <% current_user.items.each do |item| %>
          <%=cl_image_tag item.photos.last.key, class:"dashboard-item" if item.photos.attached?%>
          <% end %>

                    <% unless current_user.items.length >= 3%>
          <%=image_tag("add_photo.jpg", :class => "avatar-120-add-item")%>
          <% end %>
        </div>
    </div>
</div>



<!-- <input type="file" accept="image/*">
