<%# Om jeg legge til en HTML-klasse: %>
<%# , wrapper_html: { class: 'class_name' } %>
<div class='arrow'>
  <div class="container">
    <div class="title-white">
      <a class="material-icons" href="javascript:history.back()">keyboard_backspace</a>
        <h1>Add item</h1>
    </div>

    <div>
      <%= simple_form_for @item do |f| %>
      <div id="preview"></div>
      <%= f.input :photos, as: :file, input_html: { multiple: true }, wrapper_html: { class: "outline-btn upload-btn-wrapper" }, id: "browse", label: 'Upload more images' %>
      <%= f.input :name, label: 'Item name' %>
      <%= f.input :description, as: :text, label: 'Description (optional)' %>
      <%#= f.input :size, collection: 1..6, as: :select, label: 'Your items size is equal to or larger than a ...' %>
    <div class='container-sizechart'>
      <h2 class='text-center' id='body-font'> Would you say your item is equal to or smaller than:</h2>
    </div>

    <div class='container-sizechart'>
      <button name="item[size]" value="1">
        <%=image_tag("fork.jpg", :class => "avatar-100-image")%>
      </button>
      <button name="item[size]" value="2">
        <%=image_tag("fork.jpg", :class => "avatar-100-image")%>
      </button>
    </div>

    <div class='container-sizechart'>
      <button name="item[size]" value="3">
        <%=image_tag("fork.jpg", :class => "avatar-100-image")%>
      </button>
      <button name="item[size]" value="4">
        <%=image_tag("fork.jpg", :class => "avatar-100-image")%>
      </button>
    </div>

    <div class='container-sizechart'>
      <button name="item[size]" value="5">
        <%=image_tag("fork.jpg", :class => "avatar-100-image")%>
      </button>
      <button name="item[size]" value="6">
        <%=image_tag("fork.jpg", :class => "avatar-100-image")%>
      </button>
    </div>

    <%#= link_to "Delete", @item, :confirm => "Are you sure?", :method => :delete %>
   <% end %>

    </div>
  </div>
</div>

