

<%# Om jeg legge til en HTML-klasse: %>
<%# , wrapper_html: { class: 'class_name' } %>
<div class='arrow'>
  <div class="container">
    <div class="title-white">
      <a class="material-icons" href="javascript:history.back()">keyboard_backspace</a>
        <h1>Add item</h1>
    </div>

    <div>
      <%= simple_form_for @item do |f| %>
      <%= f.input :photos, as: :file, input_html: { multiple: true }, label: 'Upload more images' %>
      <%= f.input :name, label: 'Item name' %>
      <%= f.input :description, as: :text, label: 'Description (optional)' %>
    <%#= f.input :size, collection: 1..6, as: :select, label: 'Your items size is equal to or larger than a ...' %>
    <div class='container-sizechart'>
      <h2 class='text-center' id='body-font'> Would you say your item is equal to or smaller than:</h2>
    </div>

    <div class='container-sizechart'>
      <button name="size" value="1">
        <%=image_tag("fork.jpg", :class => "avatar-100-image")%>
      </button>
      <button name="size" value="2">
        <%=image_tag("fork.jpg", :class => "avatar-100-image")%>
      </button>
    </div>

    <div class='container-sizechart'>
      <button name="size" value="3">
        <%=image_tag("fork.jpg", :class => "avatar-100-image")%>
      </button>
      <button name="size" value="4">
        <%=image_tag("fork.jpg", :class => "avatar-100-image")%>
      </button>
    </div>

    <div class='container-sizechart'>
      <button name="size" value="5">
        <%=image_tag("fork.jpg", :class => "avatar-100-image")%>
      </button>
      <button name="size" value="6">
        <%=image_tag("fork.jpg", :class => "avatar-100-image")%>
      </button>
    </div>
    <div class='container-sizechart'>
      <%= link_to new_trade_path do %>
      <%= f.button :submit, :class => 'button lg-btn'%>
      <% end %>
      <% end %>
    </div>
  </div>
</div>

