

<%# Om jeg legge til en HTML-klasse: %>
<%# , wrapper_html: { class: 'class_name' } %>
<div class="container">
  <div class="title-white">
    <h1>Add item</h1>
  </div>
  <%= simple_form_for @item do |f| %>
    <%= f.input :photos, as: :file, input_html: { multiple: true }, label: 'Upload more images' %>
    <%= f.input :name, label: 'Item name' %>
    <%= f.input :description, as: :text, label: 'Description (optional)' %>
    <%= f.input :size, collection: 1..6, as: :select, label: 'Your items size is equal to or larger than a ...' %>
    <%= f.button :submit %>
  <% end %>
</div>
