
<div class="container">
  <h1> <%= @item.name %></h1>
  <%= render "shared/carousel" %>

  <p> Description: <%= @item.description %> </p>
  <p> Owned by a gentleperson with the name:  <strong> <%= @user.name %> </strong> </p>
  <p> Location:  <strong> <%= @user.address %> </strong> </p>
  <p> Added on: <%= @item.created_at %> </p>

  <div>
  <%= link_to "Back to item index page", items_path %>
  </div>
  <div></div>
  <a class="material-icons" href="javascript:history.back()">keyboard_backspace</a>
  </div>
  <%#= link_to "Delete", @item, :confirm => "Are you sure?", :method => :delete %>
</div>
<%# User avatars don't exist yet %>
<%# @user.photo.attached? %>
<%#= raise %>
