
  <div>
    <div class="show-item" align="center">
      <%= render "shared/carousel" %>
    </div>
    <div class="show-text-con">
      <a class="material-icons" href="javascript:history.back()">keyboard_backspace</a>
        <div>
          <h1> <%= @item.name %></h1>
          <p> Description: <%= @item.description %> </p>
        <!-- <p> Owned by:  <strong> <%#= @user.name %> </strong> </p> -->
          <p> Item added: <%= @item.created_at %></p>
        </div>

        <div class="white-btn">
          <%= link_to "Delete", @item, :confirm => "Are you sure?", :method => :destroy%>
        </div>
      </div>
    </div>

    <div class='new-item-container'>
      <div class="d-flex align-items-center">
        <div class="flexbox">
            <%=image_tag(current_user.photo, :class => "avatar-120") if current_user.photo.attached? %>
            <div class="flex-margin">
              <h5><b><%=current_user.name%>!</b></h5>
              <p> Item location:  <strong> <%= @user.address %> </strong> </p>
            </div>
        </div>
      </div>
  </div>


<%# User avatars don't exist yet %>
<%# @user.photo.attached? %>
<%#= raise %>
