

<div class='container-div'><div class="container-btm"></div></div>
<div class='land-pad'>
  <div class='row justify-content-center d-flex'>
    <div class='col-10' align='center'>
          <div class="game-card">
            <%= cl_image_tag @bigger_item.photos.first.key, class: 'card-img', alt: 'Bigger Item' %>
              <% if @user_item.size >= @bigger_item.size %>
                <a> Its bigger</a>
              <% else %>
              <a>Your item is not bigger</a>
            <% end %>
        </div>
        <%= form_with(model: @trade) do |f| %>
        <%= f.hidden_field :item_1_id %>
        <%= f.hidden_field :item_2_id %>
        <%= f.submit "trade" %>
        <% end %>


      <br>
        <div>
          <%= cl_image_tag @user_item.photos.first.key, class: 'Put class name', alt: 'User Item', class: "avatar-150-image"%>
        </div>
      <br>
        <div class= 'game-btn'>
          <span class="material-icons">
            home

        </div>
         <div class= 'game-btn' onclick="window.location.href = '/trades/new'">
          <span>
            skip
          </span>
        </div>
         <br>
        <br>
          <div class="game-card">
            <%= cl_image_tag @better_item.photos.first.key, class: 'card-img', alt: 'Bigger Item' %>
              <% if @user_item.size <= @better_item.size %>
              <a> Its better</a>
                <% else %>
              <a>Shuiffle for a better match</a>
            <% end %>
            <br>
         </div>
    </div>
  </div>
</div>
<div>


