<div class='container-div'>
  <div class="container-btm"></div>
</div>
<div class='land-pad'>
  <div class='row justify-content-center d-flex'>
    <div class='col-10' align='center'>
      <%= link_to item_path(@bigger_item.id) do %>
        <div id="drag-bigger" class="game-card">
          <%#= cl_image_tag @bigger_item.photos.first.key, class: 'card-img', alt: 'Bigger Item' %>
          <% @item = @bigger_item %>
          <%= render "shared/carousel" %>
        </div>
      <% end %>
      <%= form_with(model: @bigger_trade, id: "formBigger") do |f| %>
        <%= f.hidden_field :item_1_id %>
        <%= f.hidden_field :item_2_id %>
        <%#= f.submit "trade" %>
      <% end %>
      <br>
      <div>
        <%= form_with(url: new_trade_path, method: "get", local: true) do |f| %>
          <%= select_tag(:item_id, options_for_select(@all_items.pluck(:name, :id))) %>
          <%= f.submit "select" %>
        <% end %>
        <br>
        <div id="drag-middle">
          <%= cl_image_tag @user_item.photos.first.key, class: 'Put class name', alt: 'User Item', class: "avatar-150-image"%>
        </div>
      </div>
      <br>
      <div class= 'game-btn'>
        <%= link_to items_path do %>
          <span class="material-icons">
            home
          </span>
        <% end %>
      </div>
      <div class= 'game-btn' onclick="window.location.href = '/trades/new'">
        <span>
          skip
        </span>
      </div>
      <br>
      <br>
      <%= link_to item_path(@better_item.id) do %>
        <div id="drag-better" class="game-card">
          <%#= cl_image_tag @better_item.photos.first.key, class: 'card-img', alt: 'Bigger Item' %>
          <% @item = @better_item %>
          <%= render "shared/carousel" %>
        </div>
      <% end %>
      <%= form_with(model: @better_trade, id: "formBetter") do |f| %>
        <%= f.hidden_field :item_1_id %>
        <%= f.hidden_field :item_2_id %>
        <%#= f.submit "trade" %>
      <% end %>
      <br>
    </div>
  </div>
</div>
