
<h1>Welcome to your personal chat with User ...</h1>
      <h1>Chat <%=@trade.id%> </h1>
<div class="chat-container">
<div id="messages" data-trade-id="<%= @trade.id %>">
  <% @trade.messages.each do |message| %>
    <div class="message-container" id="message-<%= message.id %>">
      <i class="author">
        <div class="d-flex single-message">
        <%=image_tag(current_user.photo, :class => "avatar-55")%>
        <div class="flex-column">
        <div class="user-name">
        <span><%= message.user.name %></span>
        <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
      </i>
      <p><%= message.message %></p>
    </div>
  </div>
  </div>
  </div>
  <% end %>
</div>


<!-- <form action="/trades"></form> -->
<%= simple_form_for [@trade, @message], remote: true, class:"stick" do |f|%>
  <%= f.input :message, label: false, placeholder: "Message" %>
  <%= f.button :submit, :label => "Send", class:"outline-btn width" %>
<% end %>
</div>


