
<div class ="row justify-content-center d-flex chat-trades">
<%=image_tag(@trade.item_1.photos.first, :class => "trade-65")%>
<div><span class="material-icons" style="font-size: 50px;">
sync_alt
</span></div>
<%=image_tag(@trade.item_2.photos.first, :class => "trade-65")%>
</div>
<div class ="">
  <div class='row justify-content-center d-flex'>
    <div class="trade-complete">
      <%= link_to trades_path do %>
          MARK TRADE COMPLETED
        <% end %>
      </div>
    </div>
    <div class='row justify-content-center d-flex'>
    <strong><P>TRADE PENDING</P></strong>
  </div>
  </div>
<div class="chat-container">
<div id="messages" data-trade-id="<%= @trade.id %>">
  <% @trade.messages.each do |message| %>
    <div class="message-container" id="message-<%= message.id %>">
      <i class="author">
        <div class="d-flex single-message">
        <%=image_tag(current_user.photo, :class => "avatar-55")%>
        <div class="flex-column">
        <div class="user-name">
        <span><%= message.user.name %></span>
        <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
      </i>
      <p><%= message.message %></p>
    </div>
  </div>
  </div>
  </div>
  <% end %>
</div>


<!-- <form action="/trades"></form> -->
<%= simple_form_for [@trade, @message], remote: true, class:"stick" do |f|%>
  <%= f.input :message, label: false, placeholder: "Message" %>
  <%= f.button :submit, :label => "Send", class:"outline-btn width" %>
<% end %>
</div>


