<!DOCTYPE html>
<html>
  <head>
    <title>Bigger Or Better - Trade your stuff!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Don't throw out your stuff! Trade it for something bigger or better.">
    <meta charset="utf-8">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <%=favicon_link_tag%>
  </head>
  <body>
    <%# <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <footer>
      <% if @show_navbar %>
        <nav class="nav">
          <!-- <a href="#" class="nav__link"onclick="window.location.href = '/trades'"> -->
          <%= link_to trades_path, class: "nav__link" do %>
            <i class="material-icons nav__icon">chat_bubble_outline</i></span class="nav__text">Chat</span>
          <% end %>
        </a>
    <!--  <a href="#" class="nav__link" onclick="window.location.href = '/trades/new'"> -->
          <%= link_to new_trade_path, class: "nav__link" do %>
            <i class="material-icons nav__icon" >attach_file</i></span class="nav__text">Play</span>
          <% end %>
        </a>
<!-- <a href="#" class="nav__link nav__link--active" onclick="window.location.href = '/items'"> -->
          <%= link_to items_path, class: "nav__link" do %>
            <i class="material-icons nav__icon">home</i></span class="nav__text">Home</span>
          <% end %>
        </a>
          <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav__link" %>
        </a>
        </nav>
<% end %>
</footer>
</html>

